<div class="row">
    <div class="col-md-6 offset-3">
        <h1>Not Found</h1>
        <p>The requested resource was not found.</p>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Seminars" asp-action="Index">Back to Home</a>

    </div>

</div>