@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to our first Seminar Space</h1>
    <h2 class="display-4">Developed based on your needs.</h2>
</div>
<div class="text-start">
    <p class="h4"> Instructions: </p>
    <p class="h5"> 1. You can login as an Admin or as a User </p>
    <p class="h5"> 2. Credentials for Admin => email: admin@dikese.com, password: Dikese1! </p>
    <p class="h5"> 2. Credentials for User => email: user@dikese.com, password: Dikese1! </p>
    <p class="h5"> 4. As an Admin you can Create, Read, Update and Delete (CRUD) Seminars, Rooms, Speakers and Sponsors</p>
    <p class="h5"> 5. You can register as a User, browse the Seminars and purchase them</p>
    <p class="h5"> 6. As a viewer you can browse the Seminars from the Seminars button</p>
    <p class="h5"> 7. Anyone can search from the search button </p>
    <p class="h3">Enjoy! Thank you for using our services!!! </p>
</div>
